*un~
.DS_Store
vim/vim/backups
vim/vim/view
vim/vim/.netrwhist
vim/vim/tmp
vim/vim/spell
vim/vim/.vundles
vim/vim/bundle
vim/vim/sessions
vim/vim/plugged
vim/vim/autoload
vim/vim/coc-settings.json
.netrwhis
tags
.tags
